/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'ITC Avant Garde Gothic Std';
    src: url('Fonts/ITCAvantGarde/itcavantgardestdbold-webfont.woff2') format('woff2'),
         url('Fonts/ITCAvantGarde/itcavantgardestdbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Varaibles */

:root {
    --accent: #ee7402;
    --accent-second: #f08119;
    --white-second: rgb(245, 245, 245);
    --light-blue: #dbe2eb;
    --light-cream: #ece5d8;
}

/* Reset defaul css style */

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

/* Set default style */

h1 {
    font-family: 'ITC Avant Garde Gothic Std', 'sans-serif';
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

label {
    font-family: 'ITC Avant Garde Gothic Std', 'sans-serif';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
label {
    text-transform: none;
}

p, a, li, input, select {
    font-family: 'Blinker';
    letter-spacing: 3px;
    font-size: 16px;
    text-decoration: none;
}

/* General section style */

.button {
    display: inline-block;
    color: white;
    background-color: var(--accent);
    font-family: 'Blinker';
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 35px;
    border-radius: 30px;
    transition-property: background-color, color, padding;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.button:hover {
    background-color: var(--accent-second);
    padding: 20px 40px;
}

